.b-toolbar {
  align-items: center;
  display: flex;
  height: $b-toolbar-height;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    padding-left: 70px;
  }

  &__label {
    font-size: $fs-4;
  }
}
